OPENROUTER_API_KEY = Add your api key here
MODEL_NAME_TWEET_GENERATION = "liquid/lfm-2.5-2.6b:free"
TEMPERATURE_TWEET_GENERATION = 0.7
MODEL_NAME_TWEET_REVIEW = "minimax/minimax-m3:free"
TEMPERATURE_TWEET_REVIEW = 0.3 
MODEL_NAME_IMPROVE_TWEET = "liquid/lfm-2.5-2.6b:free"
TEMPERATURE_IMPROVE_TWEET = 0.7
